html, body {
  padding: 0; 
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 2vw;
  font-weight: bold;
}

/*Klavier (Tastatur)*/
.klavier {
  display: inline-block;
  padding: 0;
  box-sizing: border-box;
  border: 10px solid darkred;
  width: 80vw;
  height: 35vw}

.klavier__btn {
  display: block;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
  width:calc(100%/7);
  height: 100%;
  background-color: white;
  cursor: pointer;
  float: left;
}

.pressed {
  background-color: darkgray;
}

.halbton.pressed {
  background-color: darkgray;
}

.halbton {
  background-color: black;
  color: white;
  width: 5vw;
  margin-left: -5vw;
  height: 18vw;
  transform: translateX(50%);
}

/*Kontrollen (über der Tastatur)*/
.kontrollen {
  padding: 5;
  box-sizing: border-box;
  border: 10px solid white;
}

#kontrollen{
  display: flex;
  align-items: center;
}

/*Container über der Tastatur*/
#buttonContainer{
  flex: 1;
  margin-left: 2%;
  margin-right: 5%;
}

#sliderContainer{
  flex: 1;
  margin-right: 5%;
}

/*Buttons*/
button {
  border: none;
  font-size: 2vw;
}
#minus, #plus {
  padding: 5%;
  background-color: darkgray;
  color: black;
}

#piano, #synth{
  padding: 5%;
  text-align: center;
  border-radius: 50%;
  background-color: black;
  color: white;
  border: 1vw solid black;
}

/*Ring um zuketzt ausgewählten Button*/
#piano:disabled, #synth:disabled{
  border: 1vw solid darkred;
}

/*Ring um zuketzt ausgewählten Button*/
#cave:disabled, #church:disabled, #garage:disabled, #room:disabled{
  border: 1vw solid darkred;
}

/*Slider*/
.slider {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: darkgray;
  cursor: pointer;
}


